.header {
  background-image: url("data:image/svg+xml,%3Csvg id='header' width='200' height='200' viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='100' cy='100' r='100' fill='%23FFAB08'%3E%3C/circle%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 611px;
  padding: 24px 0 30px;
  margin-bottom: 30px;
}

.header__logo {
  width: 150px;
  color: #fff;
  margin: 0 auto 24px;
}

.header__title-container {
  padding-bottom: 246px;
  background: url('../img/pic.svg') bottom/227px no-repeat;
  text-align: center;
  color: #fff;
}

.header__title-text {
  display: block;

}

.header__title {
  margin-bottom: 16px;
  font-weight: 800;
  line-height: 120%;
  /* 36px */
  line-height: 120%;
}

.header__title-text-red {
  color: #FF5C00;
}

.header__appeal {
  font-size: 12px;
  line-height: 16px;
}

@media(min-width: 480px) {
  .header {
    background-size: 1400px;
    padding-bottom: 44px;
  }

  .header__container {
    max-width: 480px;
  }

  .header__title-container {
    padding-bottom: 0;
    padding-left: 180px;
    padding-top: 27px;
    text-align: left;
    background-position: left;
    background-size: contain;
    font-size: 15px;
    min-height: 190px;
  }
}

@media(min-width: 768px) {
  .header {
    background-size: 2540px;

  }

  .header__container {
    max-width: calc(562px + var(--padding-container) * 2);
  }

  .header__title-container {
    padding-left: 237px;
    min-height: 229px;
  }

  .header__title {
    font-size: 36px;
    margin-bottom: 26px;
  }
}

@media(min-width: 1024px) {
  .header {
    background-size: 2880px;
    padding-bottom: 63px;
    margin-bottom: 40px;
  }

  .header__container {
    max-width: calc(764px + var(--padding-container) * 2);
  }

  .header__title-container {
    padding-top: 46px;
    padding-left: 326px;
    min-height: 326px;
  }

  .header__title {
    font-size: 50px;
    margin-bottom: 52px;
  }

  .header__appeal {
    font-size: 16px;
    line-height: 22px;
  }
}
/*!------------------шапка--------------------------------*/
@media(min-width: 1360px) {
  .header {
    background-size: 2880px;
    padding-bottom: 63px;
    margin-bottom: 40px;
  }

  .header__container {
    max-width: calc(784px + var(--padding-container) * 2);
  }

  .header__title-container {
    padding-top: 46px;
    padding-left: 346px;
  }
}
@media(min-width: 1800px) {
  .header {
    background-size: 4660px;
  }
}