.modal-product {
  display: flex;
  background-color: #fff;
  width: 100%;
  min-height: 100%;
  padding: 32px 10px;
}

.modal-product__container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;
}

.modal-product__title {
  font-size: 28px;
  font-weight: 600;
  line-height: 120%;
  /* 33.6px */
  margin-bottom: 12px;
}

.modal-product__content {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.modul-product__img {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
}

.modal-product__description {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  /* 15.6px */
  margin-bottom: 10px;
}

.modal-product__ingridients {
  flex-grow: 1;
  margin-bottom: 10px;
}


.modal-product__add {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
}

.modal-product__btn {
  flex-grow: 1;
  padding: 9px;
  background-color: #FF7020;
  border-radius: 8px;
  color: #fff;
  font-size: 12px;
  line-height: 100%;
  font-weight: 400;
  transition: transform .1s ease;
}

.modal-product__btn:hover {
  transform: translate(-1px);
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
}

.modal-product__price {
  text-align: right;
  font-size: 16px;
  font-weight: 600;
  line-height: 130%;
}

/*--------------------------------------------------------*/

@media(min-width: 480px) {
  .modal-product {
    max-width: 524px;
    min-height: auto;
    width: 100%;
    padding: 16px 16px 24px;

    border-radius: 24px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.10);
  }

  .modal-product__container {
    max-width: unset;
  }

  .modal-product__title {
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    margin-bottom: 16px;
  }

  .modal-product__content {
    display: grid;
    grid-template-columns: 226px 1fr;
    grid-template-rows: min-content 1fr;
    gap: 10px 8px;
    margin-bottom: 22px;
  }

  .modul-product__img {
    grid-row: 1 / 3;
    margin-bottom: 0;
  }

  .modal-product__description {
    grid-row: 1 / 1;
    margin-bottom: 0;
  }

  .modal-product__ingridients {
    grid-row: 2 / 3;
    margin-bottom: 0;
  }

  .modal-product__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal-product__add {
    margin-bottom: 0;
  }

  .modal-product__btn {
    flex-grow: 0;
    width: 218px;
  }


  .modal-product__price {
    text-align: right;
    font-size: 16px;
    font-weight: 600;
    line-height: 130%;
  }
}

@media(min-width: 1024px) {
  .modal-product {
    max-width: 684px;
    padding: 24px 24px 36px;
  }

  .modal-product__title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .modal-product__content {

    grid-template-columns: 276px 1fr;
    grid-template-rows: min-content 1fr;
    gap: 10px 16px;
    margin-bottom: 38px;
  }

  .modal-product__description {
   font-size: 16px;
  }

  .modal-product__btn {
    width: 276px;
  }

  .modal-product__price {
    font-size: 24px;
  }

}