.navigation {
  margin-bottom: 30px;
}

.navigation__container {
  padding: 0;
  min-width: 100vw;
}

.navigation__list {
  display: flex;
  padding: 0 calc(100vw / 2 - var(--container) / 2);
  overflow-y: hidden;
  overflow-x: auto;
  column-gap: 8px;
}

.navigation__button {
  border-radius: 50px;
  background-color: #FFF;
  padding: 7px 8px 7px 40px;
  font-size: 12px;
  line-height: 16px;
  white-space: nowrap;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: 8px center;
  cursor: pointer;
  transition: transform .1s ease;
}

.navigation__button:hover,
.navigation__button:focus-visible {
  outline: 1px solid #F86310;
  outline-offset: -1px;
  transform: translate(-1px);
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
}

.navigation__button--active {
  pointer-events: none;
  background-color: #FFAB08;
  filter: drop-shadow(4px 4px 8px rgba(0, 0, 0, 0.6));
}

.navigation__button--active:focus-visible {
  outline: none;
}

/* @supports not selector(:focus-visble) {
  .navigation__button:focus {
    outline: 1px solid #F86310;
    outline-offset: -1px;
  }
}*/

.navigation__button--burger {
  background-image: url('../img/burgerpng.png');
}

.navigation__button--snack {
  background-image: url('../img/snack.png');
}

.navigation__button--hot-dog {
  background-image: url('../img/hot-dog.png');
}

.navigation__button--combo {
  background-image: url('../img/combo.png');
}

.navigation__button--shawarma {
  background-image: url('../img/shawarma.png');
}

.navigation__button--pizza {
  background-image: url('../img/pizza.png');
}

.navigation__button--wok {
  background-image: url('../img/wok.png');
}

.navigation__button--dessert {
  background-image: url('../img/dessert.png');
}

.navigation__button--sauce {
  background-image: url('../img/sauce.png');
}


@media(min-width: 768px) {
  .navigation__list {
    column-gap: 12px;
  }
}



@media(min-width: 1024px) {
  .navigation {
    margin-bottom: 50px;
  }

  .navigation__list {
    column-gap: 24px;
  }

  .navigation__button {
    padding: 9px 14px 9px 46px;
    font-size: 16px;
    line-height: 22px;
    white-space: nowrap;
    background-position: 14px center;
  }
}